body {

}

.content {
  max-width: 1024px;
  margin: 100px auto;
}

.release {
  box-sizing: border-box;
  margin: 20px 50px;
}

.stable {
  background-size: auto contain;
  max-width: 600px;
  margin: 50px auto 150px auto;
}

.stable img {
  float: right;
}

.beta img, .lts img, .canary img {
  text-align: center;
  height: 100px;
  width: auto;
  margin: 0 auto 10px auto;
  display: block;
}

.lesser-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
}

h3, h4 {
  text-transform: none;
}

.release h3 {
  font-size: 130%;
  color: #865931;
}

.stable h3 {
  font-size: 270%;
  text-transform: none;
  color: #865931;
}

h3.version-number {
  font-size: 500%;
}

.release .date {
  font-size: 80%;
}

.projects ul {
  list-style: none;
}

.projects li p {
  font-weight: bold;
  margin-bottom: 0;
}
.projects pre {
  font-family: monospace;
  font-size: 125%;
  padding: 5px;
  background-color: #fdf6e3;
}
